<form id="comment-form" class="grid">
    <div class="form-group">
        <label for="comment.message"><%= translations.message %></label>
        <textarea id="comment.message" name="message" class="form-element" data-mapper-property="message"></textarea>
    </div>
</form>
