<form id="thread-form" class="grid">
    <div class="form-group">
        <label for="comment.title"><%= translations.title %></label>
        <input type="text" id="comment.title" name="title" class="form-element" data-mapper-property="title"/>
    </div>
</form>
